<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log Parser H</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>
    <div id=container>
        <ul><a href="/traffic"> Show list of unique IPs</a></ul>
        <ul><a href="/sqli_exploit">Show entries of SQL Injections attempts</ul>
        <ul><a href="/lfi_exploit">Show entries of Local File Injection attempts</ul>
        <ul><a href="/rfi_exploit">Show entries of RFI attempts</ul>
        <ul></ul>
    </div>
</body>
</html>
