<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log Parser H</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>
    <div id=container>
        {% for item in navigation %}
            <li><a href="/traffic/{{ item }}">{{ item }}</a></li>
        {% endfor %}
    </div>
</body>
</html>
